nav {
    display: flex;
    justify-content: flex-end; 
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #007EE0;
 
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    display: inline-block;
    margin-right: 30px;
    padding: 0;
    position: relative; 
    border: 1px solid #007EE0; 
    padding: 1px 1px; 
}


nav a {
    text-decoration: none;
    color: #000000;
    padding: 15px 20px;
    display: block; 
}

nav a:hover {
    background-color: #7F7F7F;
}

nav ul ul {
    display: none; 
    position: absolute;
    top: 100%; 
    left: 0; 
    background-color: #007EE0; 
    z-index: 1; 
    border: 2px solid #000000; 

}

nav li:hover > ul {
    display: block; 
}


nav ul ul li {
    width: 100%; 
    text-align: left;
}

nav ul ul a {
    padding: 10px 20px; 
    color: #000000; 
}

nav ul ul a:hover {
    background-color: #7F7F7F; 
}

nav li::before,
nav li::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px; 
    background-color: #000000; 
}

nav li::before {
    left: -10px; 
}

nav li::after {
    right: -10px; 
}
